body {
  font-size: .875rem;
}

#sidebar-container .fa {
  font-size: 1rem;
}

#body-row {
  margin-left:0;
  margin-right:0;
}
#sidebar-container {
  min-height: 100vh;   
  background-color: #333;
  padding: 0;
  white-space: nowrap;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 230px;
}
.sidebar-collapsed {
  width: 60px;
}

@media (min-width: 768px) {
  .content-expanded {
    margin-left: 230px;
  }
  .content-collapsed {
    margin-left: 60px;
  }
}
/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

.grow-on-over:hover {
  transition: all .2s ease-in-out;
}

.grow-on-over:hover {
  transform: scale(1.2);
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.logo-separator {
  background-color: #333;    
  height: 60px;
}

/* Closed submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="false"] .submenu-icon::after {
  content: " \f0d7";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}
/* Opened submenu icon */
#sidebar-container .list-group .list-group-item[aria-expanded="true"] .submenu-icon::after {
  content: " \f0da";
  font-family: FontAwesome;
  display: inline;
  text-align: right;
  padding-left: 10px;
}

#browserframe,#viewerframe {
  border: none;
  width: 1px;
  min-width: 100%;
  height: 1000px;
}

.collapse-icon::before {
  content: " \f0a8";
}

.collapsed .collapse-icon::before {
  content: " \f0ab";
}

.tooltip-inner {
  max-width: 1000px !important;
}

.logo-item{
  min-height: 50px;
  height: auto !important;
}

.logo-item img {
  width: 100%;
}

.package-description-card:hover {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  transition: all .2s ease-in-out;
  transform: translate3d(0px, -1px, 0px);
  /*transform: scale(1.01);*/
}

.package-contributor-img:hover{
  background-color: #dc3545;
}

/* Test package: chromote */
.package-readme-content pre span{
  word-break: break-all;
}

/* Test package: js, BOE */
.package-readme-content pre, .package-citation-content pre{
  white-space: pre-wrap;
  width:0;
  min-width:100%;
}

.package-readme-content table .package-citation-content table {
  display: block;
  overflow: auto;
  width:0;
  min-width:100%;
}

.nav-tabs.show .nav-link.active {
  background-color: #dee2e6;
  font-weight: bold;
}

#minilogo{
  height: 50px;
  margin-top: -10px;
  margin-bottom: -10px;
}

.noanim.collapsing {
  transition: none !important;
}

.sidebar-user-details .list-group-item {
  padding-top: 5px;
  padding-bottom: 7px;
}

.manpages-table th {
  border: none;
  width: 50%;
}

.manpages-table td {
  border-color: #eeeeee;
}

/* Below is copied from bootstrap material design theme */

a {
  color: #3b71ca;
}

.table-sm>:not(caption)>*>* {
  padding: 0.5rem;
}

.nav-tabs .nav-link {
  border-width: 0;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 500;
  font-size: 12px;
  color: rgba(0,0,0,0.55);
  padding: 17px 29px 16px 14px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-tabs {
  border-bottom: 0;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #3b71ca;
  border-color: #3b71ca;
}
